.dashboard-content {
  display: flex;
  justify-content: center;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 100px auto 100px auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card {
  margin: 0 0 50px 0;
}