.header-container { 
  display: flex;
  justify-content: space-between;
  margin: 100px 60px 200px 60px;
}

.header-img {
  width: 30%;
}
.header-left { 
  margin-top: 50px;
}

.header-title {
  padding-top: 30px;
  margin-bottom: 50px;
}

.header-description {
  width: 80%;
  line-height: 2;
  padding-top: 100px;
}

.getting-started-title {
  text-align: center;
  padding: 50px 0 20px 0;
  mix-blend-mode: screen;
  background-color: #F5F5F5;
}

.getting-started-content {
  justify-content: space-evenly;
  mix-blend-mode: screen;
  padding: 50px 100px 120px 120px;
  background-color: #F5F5F5;
}

/* Container for how it works section */
.container {
  padding: 20px;
  display: flex;
}
.text {
  width: 70%;
  float: left;
  padding: 20px;
  padding-right: 80px;
  margin-right: 20px;
  /* border: 2px solid green; */
}
.img-container{
  width: 30%;
  justify-content: center;
  text-align: center;
  display: block;
  padding: 20px;
  margin-left: 20px;
}
.step1-img {
  max-width:80%;
  height:auto;
} 

.button-style {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  
}
