
.background{
  background-image: url("../assets/Login_background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}
.hellomessage{  
  margin-top: -20px;
  padding-top: 30px;
  margin-left: 44%;
  font-size: 4vw;
  font-style: normal;
  font-weight: 750;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.flex{
  display: flex;
  flex-direction: row;
}
.welcome{
  text-align: center;
  margin-top: 100px;
  font-size: 2vw;
  
}
.findspace {
 text-decoration: none;
 color: black;
 font-size: 22px;
 margin-top: 1.5%;
 margin-left: 5%;

}

.logininput{
  border: 3px solid rgba (0,0,0,0.5);
  box-sizing: border-box;
  border-radius: 20px;
  background: #ffffff;
  width: 114.5%;
  height: 28%;
  font-size: 35px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  margin-top: 20px;
}
.loginform{
  padding-left: 30px;
  padding-top: 200px;
  padding-bottom: 40px;
  padding-right: 100px;
  border:rgb(100, 98, 98,.2);
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 3px #888888;
  border-radius: 10px;
  margin-top:  -15vh;
  margin-left: 33.5vw;
  width: 23%;
  height: 40vh;
  
}
#submitbutton{

  margin-left: 40%;
  margin-top: 30px;
  border: 3px solid rgba (0,0,0,0.5);
  box-sizing: border-box;
  border-radius: 20px;
  width: 35%;
  height: 55px;
  font-size: 25px;
  font-weight: 100;
  
}
