.notifs-container {
  margin-top: 60px !important;
  margin-bottom: 40px;
  width: 300px;
  display: block;
  margin: auto;
}

.notif-card {
  margin: 50px 0 50px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}