.container {
    padding: 100px 120px 120px 120px;
    display: flex;
    justify-content: center;
    text-align: center;
     
  }
  .student-container {
    width: 30%;
    float: left;
    padding: 20px;
    /* padding-right: 80px; */
    margin-right: 20px;
    border-radius: 10px;
    /* box-shadow: -5px -1px 24px -10px rgba(214,214,214,0.76); */
    box-shadow: -5px 4px 72px -26px rgba(214,214,214,0.76);

  }
  .prof-container{
    width: 30%;
    /* justify-content: center;
    text-align: center;
    display: block; */
    float: right;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    /* border: 2px solid green; */
    /* box-shadow: 5px 1px 24px -10px rgba(214,214,214,0.76); */
    box-shadow: -5px 4px 72px -26px rgba(214,214,214,0.76);

  }
  .img{
    max-width:80%;
  height:auto;
  }
  .description {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .button {
      /* padding-top:40px; */
      display: flex;
      margin-top: 20px;
      /* padding: 0 20px; */
      align-items: center;
      justify-content: center;
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 10px;
      
      
  }